{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", "never"],
    "object-curly-newline": ["off"],
    "no-plusplus": ["off"]
  },
  "globals": {
    "beforeEach": true,
    "describe": true,
    "it": true
  }
}
